@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #020617; /* Slate 950 */
  --color-secondary: #0f172a; /* Slate 900 */
  --color-accent: #38bdf8; /* Light Blue 400 */
  --color-accent-alt: #10b981; /* Emerald 500 */
  
  --color-bg-dark: #020617;
  --color-text-primary: #f8fafc; /* Slate 50 */
  --color-text-secondary: #94a3b8; /* Slate 400 */

  --font-display: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-accent-alt: var(--color-accent-alt);
  --color-bg-dark: var(--color-bg-dark);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  overflow: hidden;
}
